<div class="container-fluid">
  <div>
    <acme-navbar creationDate="main.creationDate"/>
  </div>

  <div class="row">
    <div class="col-sm-2">
      left menu bar
    </div>
    <div class="col-sm-10">
      <acme-current-readings/>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6 col-md-4" ng-repeat="awesomeThing in main.awesomeThings | orderBy:'rank'">
      <div class="thumbnail">
        <img class="pull-right" ng-src="assets/images/{{ awesomeThing.logo }}" alt="{{ awesomeThing.title }}">

        <div class="caption">
          <h3>{{ awesomeThing.title }}</h3>

          <p>{{ awesomeThing.description }}</p>

          <p><a ng-href="{{awesomeThing.url}}">{{ awesomeThing.url }}</a></p>
        </div>
      </div>
    </div>
  </div>

</div>
