<div class="row">
  <div class="col-sm-3" ng-repeat="(deviceUid, sensors) in vm.readings track by deviceUid">
    <div class="thumbnail">
      <div class="caption">
        <h4 ng-bind="deviceUid"></h4>
        <ul class="list-group">
        	<li class="list-group-item" ng-repeat="sensor in sensors">
        		<span class="badge">{{sensor.readings[0].value}}</span>
        		{{sensor.type}}
        	</li>
        </ul>
      </div>
    </div>
  </div>
</div>
