<nav class="navbar navbar-static-top navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="https://github.com/Swiip/generator-gulp-angular">
        OfficeMeter
      </a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-6">
      <ul class="nav navbar-nav">
        <li class="active"><a ng-href="#">Главная</a></li>
        <li><a ng-href="#">О проекте</a></li>
        <li><a ng-href="#">Карта климата</a></li>
        <li><a ng-href="#">Статистика</a></li>
      </ul>

    </div>
  </div>
</nav>
